<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    {% include meta_robots.html %}

    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900,Open+Sans:400,700" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% include meta_author.html %}
    {% seo title=false %}

    <script>{% include cookies.js %}</script>

    {% include analytics.html %}

    {% include shims.html %}
  </head>

  <body>
    {% include header.html %}

    <section class="main-content">
      {{ content }}

      {% include footer.html %}
    </section>

  </body>
</html>
