<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">
    {% if site.author %}
        <meta name="author" content="{{ site.author }}">
        <meta name="creator" content="{{ site.creator | default: site.author }}">
        <meta name="publisher" content="{{ site.publisher | default: site.author }}">
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% include analytics.html %}
  </head>

  <body>
    {% include header.html %}

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% include footer.html %}
  </body>
</html>
